
<ng-form name="searchForm">
    <div class="table-responsive form-search" id="searchTable">

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="fName" class="control-label">First Name</label>
                <input placeholder="Enter first name" ng-model="search.fName" id="fName" name="fName" type="text" class="form-control" >
            </div>

            <div class="col-md-6 form-group">
                <label for="lName" class="control-label">Last Name</label>
                <input placeholder="Enter last name" ng-model="search.lName" id="lName" name="lName" type="text" class="form-control" >
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label class="control-label">Date of Birth</label>
                <input class="form-control form-date" ng-model="search.start_date" type="text" placeholder="MM-DD-YYYY" />
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Driver's License Number</label>
                <input ng-model="search.dl_number" name="dl_number" type="text" class="form-control" placeholder="Enter Driver's License Number">
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Citation Number</label>
                <input ng-model="search.citation_number" name="citation_number" type="text" class="form-control" placeholder="Enter Citation Number">
            </div>
        </div>


    </div>
</ng-form>
<ng-form>

    <div class="row">
        <div class="col-md-5 buttons" align="left">
            <button ng-click="citationListCtrl.search(search)" type="button" class="btn btn-primary btn-search" id="search">Search</button>
            <button ng-disabled="citationListCtrl.selectedCount==0" ng-show="citationListCtrl.citations.length>0" type="button" ng-click="citationListCtrl.goToPayment()" class="btn btn-primary btn-search">Pay Selected Citations</button>
        </div>
    </div>
    <div class="row" ng-show="citationListCtrl.citations.length>0&&citationListCtrl.selectedCount==0">
        <br>
        <div class="alert alert-warning" role="alert">
            Select At Least One Citation to Continue
        </div>
    </div>

    <!--
    <div class="alert alert-danger" role="alert"
         ng-show="searchResult=='error'" id="searchdeclined">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        No citations found - please check search options and try again.
    </div>
    -->
    <div>
        <span ng-show="citationListCtrl.citations.length>0">
            <br>Note: Fine listed for each citation includes fines for all associated violations for the citation, including court costs. Court costs include
            clerical fees and are required even if not appearing in court.
        </span>
        <table class="table table-search" id="citationsTable">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="citationListCtrl.allItemsSelected" ng-change="citationListCtrl.selectAllRows(citationListCtrl.allItemsSelected)">
                </th>
                <th>Name</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Driver's License</th>
                <th>Citation #</th>
                <th>Citation Date</th>
                <th>Fine</th>
                <th>Court Date</th>
                <th>Court Address / <br>Municipality</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in citationListCtrl.citations" ng-class="{selected: row.isSelected}" ng-click="row.isSelected=!row.isSelected;citationListCtrl.updateSelectedCount()">
                <td><input type="checkbox" ng-model="row.isSelected" ng-click="row.isSelected=!row.isSelected" ng-change="citationListCtrl.updateSelectedCount()" /></td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Name">{{row.fName}} {{row.lName}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Address">{{row.address}}<br>{{row.city}}, {{row.state}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Date Of Birth">{{row.dateOfBirth}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Driver's License">{{row.driversLicense}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Citation #">{{row.citationNumber}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Citation Date">{{row.citationDate}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Fine" class="currency">{{row.amount}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Court Date">{{row.courtDate}}</td>
                <td ng-click="citationListCtrl.rowDetail(row,'citationDetail')" data-label="Court Address">{{row.courtAddress}}<br>{{row.municipality}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--
    <div class="alert alert-warning" role="alert" ng-show="searchResult=='empty'">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Please wait - searching for citations . . .
    </div>
    -->
</ng-form>