<ng-form name="searchForm">
    <div class="table-responsive form-search" id="searchTable">

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="fName" class="control-label">First Name</label>
                <input placeholder="Enter first name" ng-model="search.fName" id="fName" name="fName" type="text" class="form-control" >
            </div>

            <div class="col-md-6 form-group">
                <label for="lName" class="control-label">Last Name</label>
                <input placeholder="Enter last name" ng-model="search.lName" id="lName" name="lName" type="text" class="form-control" >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label class="control-label">Date of Birth</label>
                <input class="form-control form-date" ng-model="search.start_date" type="text" datepicker-popup="MM-dd-yyyy" min-date="minDate" maxDate="max-date" is-open="$parent.opened1" show-weeks="false"/>
                <button class="btn btn-cal" ng-click="pickDate($event,'opened1')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="control-label">Driver's License Number</label>
                <input ng-model="search.dl_number" name="dl_number" type="text" class="form-control" placeholder="Enter Driver's License Number">
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label">Citation Number</label>
                <input ng-model="search.citation_number" name="citation_number" type="text" class="form-control" placeholder="Enter Citation Number">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 buttons" align="left">
                <button ng-click="transactionsCtrl.search(search)" type="button" class="btn btn-primary btn-search" id="search">Search</button>
            </div>
        </div>

    </div>
</ng-form>