.table.table-search {
	margin-top: 5px;
	
	a {
    	color: #000;
    	text-decoration: none;
    }

	th {
		font-family: @roboto;
		font-size: 11px;
		font-weight: bold;
		vertical-align: middle;
		text-transform: uppercase;
	}

	tr:hover {
		background-color: #F2F2F2;

		.btn.btn-default {
			background: #94C763 !important;
		}
	}

	td {
		cursor: pointer;
		vertical-align: middle;
		height: 45px;
	}

	td.transaction-type {
		text-transform: capitalize;
	}

	.tip-amount {
		font-size: 12px;
	}

	.actions {
		padding-left: 0;
		padding-right: 0;
		width: 140px;
	}

	.btn-group > .only-action.btn:first-child:not(:last-child):not(.dropdown-toggle) {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

@media screen and (max-width: 768px) {
	 .table-responsive {
	 	border: 0;
	 }

	 .table.table-search {
	 	
			thead tr {
				display: none;
			}
			
	 		td:before {
			    content: attr(data-label);
			    float: left;
			    text-transform: uppercase;
			    font-weight: bold;
			    max-width: 50%;
	 		}

	 		tr {
	 			border: 1px solid #D7D7D7;
	 			display: block;
	 			margin-bottom: 20px;
				padding: 6px 10px 10px 10px;
	 		}

	 		td {
	 			border: 0;
	 			border-bottom: 1px dotted #D7D7D7;
	 			display: block;
	 			padding-top: 14px;
	 			text-align: right;

	 			&.no-button {
	 				display: none;
	 			}

	 			&:last-child {
	 				border-bottom: 0;
	 			}

	 			.dropdown-menu {
	 				left: -76px;
	 			}
	 		}

	 		.actions {
	 			width: 100%;
	 		}
	}
}

.pager { 
	text-align: center;

	button.btn {
		background-color: transparent;
		color: #B9B9B9;
		font-family: @interstate-bold;
		font-size: 18px;
		text-transform: uppercase;
	}

	.current-page {
		border: 1px #B9B9B9 solid;
	    color: #B9B9B9;
		border-radius: 4px;
		font-family: @interstate-bold;
		font-size: 18px;
		margin: 0 15px;
		padding: 5px 10px;
	}
}
